.nav-link.active {
  color: #fe5653 !important;
}
.tit{
    font-size:3rem;
}
.slideimg {
    display:flex;
    width:100%;
    position:relative;
  img{
    width:40%;
    rotate:338deg;  }
  img:nth-child(1) {
    margin-left: 296px;
    margin-top: 100px;
  }
  img:nth-child(2) {
    margin-left: 161px;
    margin-top: 43px;
  }
  .blur-circle::before {
    content: '';
    position: absolute;
    width: 369px;
    height: 369px;
    background: rgba(208, 7, 7, 56);
    border-radius: 50%;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(100px);
    z-index: -2;
}
.circle {
    position: absolute;
    width: 600px;
    height: 326px;
    border: 2px solid rgba(255, 0, 0, 0.5);
    border-radius: 50%;
    border-color:black;
    z-index:-2;
    margin-left:1px;
}
.circle:nth-child(1) {
    transform: rotate(48deg);
    margin-left: 90px;
    margin-top: 30px;
}
.circle:nth-child(2) {
    transform: rotate(48deg);
    
    margin-left: 69px;
    margin-top: 48px;
}

.circle:nth-child(3) {
    transform: rotate(48deg);
    margin-left: 51px;
    margin-top: 84px;
}
}

.Features{
    .circle {
        position: absolute;
        width: 600px;
        height: 326px;
        border: 2px solid rgba(255, 0, 0, 0.5);
        border-radius: 50%;
        border-color:black;
        z-index:-2;
        margin-left:1px;
    }
    .circle:nth-child(1) {
        transform: rotate(48deg);
        margin-left: 19px;
        margin-top: -518px;
    }
    .circle:nth-child(2) {
        transform: rotate(48deg);
        margin-left: -16px;
        margin-top: -455px;
    }
    
    .circle:nth-child(3) {
        transform: rotate(48deg);
        margin-left: -61px;
        margin-top: -427px;
    
    }
    .blur-circle::before {
        content: '';
        position: absolute;
        width: 369px;
        height: 369px;
        background: rgba(208, 7, 7, 56);
        border-radius: 50%;
        top: 1077px;
        left: 25%;
        transform: translate(-50%, -50%);
        filter: blur(100px);
        z-index: -2;
    
}


    }
}